@charset "utf-8";
@import "_reset.scss";
@import "_base.scss";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


/*=============================================
=                   plugin                    =
=============================================*/
// include swiper css in base.css
@include swiper();
/*=============================================
=                  All setting               =
=============================================*/
$C0: #52616B;
$C1: #e4ddbf;
$C2: #FEFF4E;
$C3: #FFE489;
$C4: #e1d5ac;

/*=============================================
=                  All styling               =
=============================================*/
@mixin text(){
	text-shadow: 0 10px 50px #ffffff;
}
@mixin reflect(){
	position: absolute;
	content: attr(data-text);
	transform-origin: bottom;
	transform: rotateX(180deg);
	line-height: 1.1;
	background: linear-gradient(0deg, #fff 0, transparent 70%);
	background-clip: text;
	color: transparent;
	opacity: .3;
	text-shadow: none;
}
@mixin contCenter(){
	@include abs($t:50%,$l:50%);
	transform: translate(-50%,-50%);
}
/*=============================================
=                    base                     =
=============================================*/
body{
	font:normal 12px/18px Arial,'Noto Sans TC','Microsoft JhengHei','微軟正黑體';
	color:$C4;
}
input,select,textarea{
	font:normal 12px/18px Arial,'Noto Sans TC','Microsoft JhengHei','微軟正黑體';
	padding:0;
	margin:0;
	vertical-align:middle;}
a{
	color:$C4;
	text-decoration:none;
}
body,html{    
	height: 100%;
	
}
.fa, .fas{
	color: #fff;
}
/*=============================================
=                 Structural                  =
=============================================*/
.wrapper{
	position: relative;
	-webkit-overflow-scrolling: touch;width: 100%;
	display: block;
	text-align: center;
	background: #fff;
	min-height: 750px;
}
.pcShow{
	display: block;
}
.mShow{
	display: none;
}
/*=============================================
=                    header                   =
=============================================*/
.header{
	@include fix($w:100%,$h:50px,$t:0,$l:0);
	z-index: 9;
	margin: 0 auto;
	padding: 2px 10px 3px;
	overflow: hidden;
	box-sizing: border-box;
	.bg{
		@include contCenter();
	}
	.block{
		position: relative;
		@include wh(100%,auto);
		margin: 0 auto;
		text-align: center;
		p{
			color: #fff;
			font-size: 30px;
			line-height: 1.5;
			font-weight: lighter;
			font-family: "Quicksand", Sans-serif;
		}
	}
}

/*=============================================
=                     index                   =
=============================================*/

.main{
	position: relative;
	@include wh(100%,100%);
    margin:0 auto;
	transition: 0.3s;
	box-sizing: border-box;
	overflow-x: hidden;
	@include rwd(max,750){
		max-width: 750px;
	}
	.kv{
		position: relative;
		background-size: cover;
		overflow: hidden;
		// padding: 10% 0 90%;
		padding-top: 90%;
		// @include abs($w:100%,$h:100%,$t:0%,$l:0%);
		background: url(../img/bg1.jpeg) 30% 100% no-repeat $C3;
		background-size: cover;
		.bg{
			@include abs($t:0,$h:100%,$l:50%);
			transform: translate(-50%,0);
			opacity: .7;
			video{
				height: 150%;
			}
		}
		.block{
			@include abs($w:100%,$h:auto,$t:50%,$l:50%);
			transform: translate(-50%,-50%);
			max-width: 1100px;
			word-break: break-all;
			.title{
				
				.pTxt{
					position: relative;
					display: block;
					color: #fff;
					line-height: 1.5;
					text-shadow: 10px 10px 50px #ffffff;
				}
				h2{
					margin: 0 auto;
					font-size: 130px;
					font-weight: 900;
					letter-spacing: .8em;
					padding: 0 0 0 110px;
					&:before{
						@include reflect();
					}
				}
				h3{
					margin: 5% auto;
					font-size: 75px;
					font-weight: 400;
					letter-spacing: 2px;
					&:before{
						@include reflect();
					}
				}
				&.on{
					animation: scaleKv .6s forwards;
					animation-delay: .3s;
				}
				@keyframes scaleKv {
					0%{
						transform: scale(.1);
						transform-origin: center center;
					}
					100%{
						transform: scale(1);
						transform-origin: center center;
					}
				}
			}
			.contBox{
				position: relative;
				margin: 3% auto;
				max-width: 900px;
				.box{
					position: relative;
					display: inline-block;
					@include wh(30%,auto);
					margin: 1.5%;
					float: left;
					.cont{
						@include contCenter();
						width: 100%;
						padding: 0% 10% 10%;
						box-sizing: border-box;
						.icon{
							position: relative;
							width: 40%;
							margin: 0 auto;
							.fa, .fas{
								font-size: 4vw;
							}
						}
						.dec{
							position: relative;
							display: inline-block;
							font-size: 1.7vw;
							line-height: 1.5;
							font-weight: 400;
							margin: 5% auto;
							color: $C4;
						}
					}
				}
				&.on{
					.box1{
						animation: leftIn .6s forwards;
					}
					@keyframes leftIn {
						0%{
							transform: translate3d(-100%,0%,0);
						}
						100%{
							transform: translate3d(0,0%,0);
						}
					}
					.box2{
						animation: topdown .6s forwards;
					}
					@keyframes topdown {
						0%{
							opacity: .5;
							transform: translate3d(0%,-100%,0);
						}
						100%{
							opacity: 1;
							transform: translate3d(0,0%,0);
						}
					}
					.box3{
						animation: rightIn .6s forwards;
					}
					@keyframes rightIn {
						0%{
							right: -100%;
						}
						100%{
							right: 0;
						}
					}
				}
			}
			.subTitle{
				position: relative;
				margin: 3% auto;
				text-align: left;
				font-size: 3.2vw;
				line-height: 1.4;
				color: #fff;
				padding: 0 1%;
				text-shadow: 0 0px 10px #fff;
			}
			
		}
		
	}
	.page{
		position: relative;
		@include wh(100%,auto);
		width: 100%;
		margin: 0 auto;
		padding: 30px 0 60px; 
		overflow: hidden;
		.block{
			position: relative;
			@include wh(100%,auto);
			margin: 0 auto;
			max-width: 1100px;
		}
		h3{
			font-size: 5vw;
			letter-spacing: 1px;
			line-height: 1.7;
			color: #fff;
			font-weight: bold;
			margin: 0;
		}
		h4{
			font-size: 26px;
			letter-spacing: 1px;
			line-height: 1.7;
			color: $C0;
			font-weight: bold;
			margin: 20px 0 0;
			text-align: center;
		}
		h5{
			font-size: 20px;
			letter-spacing: 1px;
			line-height: 1.7;
			font-weight: bold;
			color: #3d4ca8;
			margin: 0;
		}
		.note{
			font-size: 15px;
			color: #565656;
			line-height: 1.7;
			margin: 10px auto;
			p{
				padding: 3px 0;
			}
		}
		.txt1{
			p{
				font-size: 18px;
				letter-spacing: 1px;
				line-height: 1.7;
				padding: 8px 0;
				box-sizing: border-box;
				text-align: left;
			}
			b{
				display: inherit;
				font-size: 20px;
				letter-spacing: 1px;
				line-height: 1.5;
				box-sizing: border-box;
				text-align: left;
				color: $C3;
			}
		}
		.txt2{
			p{
				font-size: 20px;
				letter-spacing: 1px;
				line-height: 1.5;
				color: #fff;
				font-weight: 200;
				padding: 8px 0;
				box-sizing: border-box;
				text-align: left;
			}
		}
		.txt3{
			p{
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 1.5;
				color: #fff;
				font-weight: 200;
				padding: 8px 0;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				text-align: left;
				font-weight: 300;
			}
		}
		.txt4{
			p{
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 1.5;
				color: $C0;
				font-weight: 200;
				padding: 8px 0;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				text-align: left;
				font-weight: 300;
			}
		}
		.foreword{
			position: relative;
			padding: 10px 0 40px;
			.cont{
				position: relative;
				float: left;
				width: 88%;
			}
			.icon{
				width: 6%;
				margin: 5px 3% 5px 0;
			}
			.txt1{
				p{
					padding: 0;
				}
			}
		}
		.socialBox{
			position: relative;
			margin: 0px auto;
			text-align: center;
			display: block;
			.socialBtn{
				position: relative;
				display: inline-block;
				@include wh(50px,50px);
				margin: 0 1%;
				border-radius: 50%;
				border: 2px solid $C1;
				opacity: 0;
				transform: scale(.8);
				&.on{
					opacity: 1;
					transform: scale(1);
					transition: all .6s;
					&:nth-child(2){
						transition-delay: .2s;
					}
					&:nth-child(3){
						transition-delay: .4s;
					}
				}
			}
			.social-fb{
				background: url(../img/social_fb.svg?v=1) 50% 50% no-repeat;
			}
			.social-line{
				background: url(../img/social_line.svg?v=1) 50% 50% no-repeat;
			}
			.social-url{
				background: url(../img/social_url.svg?v=1) 50% 50% no-repeat;
			}
		}
		.contBox{
			position: relative;
			display: block;
			margin: 1rem auto 3rem;
			.type{
				position: relative;
				display: inline-block;
				width: 100%;
				text-align: left;
				overflow: hidden;
				max-width: 750px;
				margin: 50px auto 0;
				&:after{
					content: '';
					@include abs($w:100%,$h:1px,$b:0%,$r:0);
					display: inline-block;
					background: #c5c5c5;
				}
				.tag{
					position: relative;
					display: inline-block;
					width: 100%;
					span{
						position: relative;
						display: inline-block;
						padding: 3px 15px;
						border-radius: 8px;
						background: $C0;
						color: #fff;
						line-height: 1.5;
						font-size: 20px;
						letter-spacing: 1px;
					}
					&:before{
						content: '';
						@include abs($w:100%,$h:1px,$t:50%,$r:0px);
						display: inline-block;
						transform: translate(0,-50%);
						background: #c5c5c5;
					}
				}
				ul{
					position: relative;
					display: block;
					margin: 20px auto 30px;
					font-size: 16px;
					line-height: 1.5;
					color: $C0;
					margin-left: 20px;
					li{
						list-style-type: disc;
					}
				}
			}
		}
		.logoBox{
			position: relative;
			display: inline-block;
			margin: 5% auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.logoCont{
				position: relative;
				display: inline-block;
				@include wh(25%,auto);
				margin: 0;
				// float: left;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.img{
					position: relative;
				}
				.logo{
					@include wh(100%,auto);
					@include contCenter();
				}
			}
			.logoCont_Lr{
				@include wh(27%,auto);
				margin: 1% .1%;
			}
			&.on{
				.logoCont{
					animation: topdown2 1.5s forwards;
					&:nth-child(2){
						animation-delay: .1s;
					}
					&:nth-child(3){
						animation-delay: .3s;
					}
					&:nth-child(4){
						animation-delay: .5s;
					}
					&:nth-child(5){
						animation-delay: .7s;
					}
					&:nth-child(6){
						animation-delay: .9s;
					}
					&:nth-child(7){
						animation-delay: 1.1s;
					}
					&:nth-child(8){
						animation-delay: 1.3s;
					}
				}
				@keyframes topdown2 {
					0%{
						opacity: 0;
						transform: translate3d(0,-100%,0);
					}
					50%{
						opacity: 1;
						transform: translate3d(0,0%,0);
					}
					70%{
						transform: translate3d(0,-5%,0);
					}
					100%{
						transform: translate3d(0,0%,0);
					}
				}
			}
		}
		.imgCont{
			position: relative;
			display: inline-block;
			// width: 100%;
			margin: 10px auto;
			text-align: left;
			left: 50%;
			transform: translate(-50%,0);
			.note{
				position: relative;
				color: $C4;
				letter-spacing: 1px;
				font-size: 14px;
				margin: 8px 0;
				display: inline-block;
			}
			
		}
		.marquee{
			width: 100%;
			padding: 15px 0;
			background-image: linear-gradient(180deg, #000000DE 0%, #3A005F 100%);
			.view{
				width: 100%;
				display: inline-block;
				overflow: hidden;
			}
			.pic-container{
				display: flex;
				animation: marquee 10s infinite linear;
				min-width: 100%;
				.pic{
					flex-basis: 16.66%;
					flex-shrink: 0;
					img{
						height: auto;
						max-width: 100%;
					}
				}
			}
		}
		@keyframes marquee {
			0%{
				transform: translateX(0);
			}
			100%{
				transform: translateX(-100%);
			}
		}
		.belCont{
			position: relative;
			float: left;
			display: inline-block;
			@include wh(19%,auto);
			.txt{
				@include abs($w:100%,$t:40%,$l:50%);
				transform: translate(-50%,-50%);
				color: #fff;
				p{
					position: relative;
					display: inline-block;
					// font-size: 4.5vw;
					font-size: 60px;
					line-height: 1.5;
					text-shadow: 0 10px 30px #ffffff;
					&::before{
						@include reflect();
					}
				}
			}
		}
		.boxCont{
			position: relative;
			display: inline-block;
			width: 100%;
			margin: 10px auto;
		}
		.txtBox{
			position: relative;
			padding: 8px 0;
			margin: 0 auto;
			max-width: 750px;
		}
		.proBox{
			position: relative;
			display: inline-block;
			margin: 0 auto;
			max-width: 1100px;
			.box{
				position: relative;
				@include wh(45%,auto);
				margin: 2.5% 2.5%;
				float: left;
				.img{
					width: 68%;
					margin: 0 auto;
				}
				.txt{
					position: relative;
					display: inline-block;
					line-height: 1.7;
					// font-size: 4.5vw;
					font-size: 60px;
					color: $C2;
					font-weight: 500;
					text-shadow: 0 10px 30px #fff;
					&::before{
						@include reflect();
					}
				}
			}
		}
		.timeCont{
			.txtBox{
				.txt1{
					position: relative;
					display: inline-block;
					vertical-align: top;
					float: left;
					@include wh(30%,auto);
					margin: 1.5%;
					p{
						position: relative;
						display: inline-block;
						vertical-align: middle;
						font-size: 3vw;
						color: $C1;
						text-align: center;
						line-height: 1.2;
						font-weight: 500;
						b{
							color: $C1;
							font-size: 4vw;
							font-weight: 800;
							margin: 0 10px;
						}
						span{
							position: relative;
							display: inline-block;
							font-size: 4.2vw;
							line-height: 1;
							font-weight: 800;
						}
					}
					
				}
				.spTxt1{
					p{
						padding: 20px 0;
						b{
							font-size: 1.2vw;
							font-weight: 500;
						}
					}
				}
				.unLineTxt{
					margin-top: 10%;
				}
			}
		}
		.otherCont{
			position: relative;
			display: inline-block;
			max-width: 900px;
			width: 100%;
			.box{
				position: relative;
				display: inline-block;
				@include wh(22%,auto);
				margin: 2.5% 1.5%;
				float: left;
				border: 2px solid $C0;
				padding: 3% 1.5% 0;
				box-sizing: border-box;
				box-shadow: 0px 0px 7px 7px #95FEFF;
				min-height: 120px;
				.sub{
					position: relative;
					display: inline-block;
					vertical-align: middle;
				}
				.icon{
					width: 45%;
					.fa, .fas, .fab,.far{
						font-size: 4.5vw;
						color: #fff;
					}
				}
				.title{
					width: 50%;
					font-size: 2.2vw;
					color: #fff;
					line-height: 1.2;
				}
				.keepall{
					word-break: keep-all;
				}
			}
		}
		.btn2Box{
			position: relative;
			display: block;
			margin: 2% 0;
			text-align: left;
			.com2Btn{
				position: relative;
				display: inline-block;
				font-size: 16px;
				border-radius: 20px;
				letter-spacing: 1px;
				text-align: center;
				background: $C0;
				color: #fff;
				padding: 8px 20px;
				box-sizing: border-box;
				transition: all .6s;
				&:last-child{
					margin-left: 3%;
				}
				&:hover{
					background: $C3;
					transition: all .6s;
				}
				.arrow{
					position: relative;
					display: inline-block;
					@include wh(0,0);
					border-style: solid;
					border-width: 5px 0 5px 8.7px;
					border-color: transparent transparent transparent #fff;
					margin: 0 0 0 5px;
					animation: arrowAni2 1s infinite;
				}
				@keyframes arrowAni2 {
					0%{
						transform: translate(0);
					}
					20%{
						transform: translateX(2px);
					}
					40%{
						transform: translate(0);
					}
				}
			}
		}
		.moreBtn{
			position: relative;
			display: inline-block;
			float: right;
			font-weight: bold;
			font-size: 46px;
			line-height: 1.2;
			color: $C0;
			.liDec{
				position: relative;
				display: inline-block;
				i{
					position: relative;
					display: inline-block;
					@include wh(8px,8px);
					border-top: 1px solid $C0;
					border-right: 1px solid $C0;
					transform: rotate(45deg) skew(10deg,10deg) translate3d(-10px,5px,0);
					animation: arrowAni1 1s infinite;
					&:nth-child(1){
						animation-delay: .6s;
					}
					&:nth-child(3){
						animation-delay: .3s;
					}
				}
			}
			@keyframes arrowAni1 {
				0%{
					opacity: 1;
				}
				80%{
					opacity: .3;
				}
			} 
			&:after{
				content: '';
				@include abs($w:0,$h:2px,$l:0,$b:0);
				border-bottom: 2px dotted transparent;
			}
			&:hover{
				&:after{
					width: 100%;
					transition: all 1.5s;
					border-bottom: 2px dotted;
				}
			}
		}
	}
	.page1{
		padding: 30px 0 0;
		background: url(../img/bg2.png) 50% top no-repeat #000;
		background-size: cover;
		h3{
			position: relative;
    		display: block;
			font-size: 7vw;
			color: #fff;
			text-shadow: 0px 5px 30px #d5d5d5;
			&::before{
				@include reflect();
			}
			
		}
		.block{
			max-width: 1400px;
			.title{
				&.on{
					animation: scaleKv .6s forwards;
				}
			}
		}
	}
	.page2{
		background: url(../img/bg3.jpeg) 50% 50% no-repeat;
		background-size: cover;
		padding: 150px 0;
		h3{
			font-size: 7vw;
			font-weight: bolder;
			span{
				font-size: 4vw;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				&:before{
					@include reflect();
					line-height: 1.3;
				}
			}
			&:before{
				@include reflect();
			}
		}
		.block{
			.contBox{
				.title{
					text-shadow: 0 10px 30px #fff;
					font-family: "Quicksand", Sans-serif;
					
				}
				.txtBox{
					margin: 3% auto;
					max-width: 1100px;
					.txt{
						position: relative;
						display: inline-block;
						float: left;
						@include wh(22%,auto);
						margin: 1.5%;
						line-height: 1;
						font-weight: 400;
						// font-size: 5vw;
						font-size: 72px;
						color: $C3;
						text-shadow: 0 10px 20px #fff;
						&:before{
							@include reflect();
							opacity: .2;
						}
					}
				}
			}
		}
	}
	.page3{
		background: url(../img/bg4.jpeg) 50% top no-repeat #070a0e;
		background-size: 200% auto;
		padding: 150px 0 100px;
		.timeCont{
			.txtBox{
				max-width: 1100px;
			}
		}
	}
}
.float-socialBtn{
	@include fix($r:.5%,$w:4vw,$h:auto);
	border-radius: 100%;
	padding: 8px 10.5px 13px;
	transition: all .6s;
	z-index: 9;
	color: #fff;
}
.telegramBtn{
	bottom: 0%;
}
.goTopBtn{
	display: none;
}
.float-socialBlock{
	@include fix($r:2%,$b:calc(7% + 120px),$w:50px,$h:auto);
	.float-social{
		position: relative;
		display: inline-block;
		@include wh(50px,50px);
		margin: 35% 0 0;
		transition: all .3s;
		background: #fff;
		border: 1px solid $C1;
		border-radius: 100%;
		transform: scale(0);
		opacity: 0;
		transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	&.on{
		.float-social{
			opacity: 1;
			transform: scale(1);
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
			z-index: 1;
			&:hover{
				transform: scale(.9);
				transition: all .3s;
			}
		}
		.float-social-fb{
			transition-delay: .3s;
		}
		// .float-social-line{
		// 	transition-delay: .4s;
		// }
	}
}
.float-goTopBtn{
	@include fix($r:2%,$b:0%,$w:30px,$h:30px);
	border-radius: 100%;
	border: 1px solid $C1;
	color: $C1;
	padding: 7px 9.5px 12px;
	transition: all .6s;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	i,p{
		position: relative;
		text-align: center;
		display: block;;
	}
	p{
		margin: 2px auto;
	}
	&.on{
		transition: all .9s;
		opacity: 1;
		visibility: visible;
		bottom: 5%;
	}
}

.clear{
	clear: both;
}

/*=============================================
=                    footer                  =
=============================================*/
.footer {
	position: relative;
	@include wh(100%, auto);
	background:#000;
	p{
		position: relative;
		@include wh(90%,auto);
		font-size: 14px;
		color: #fff;
		text-align: center;
		letter-spacing: 1px;
		padding: 20px 0;
		line-height: 1.7;
		margin: 0 auto;
	}
}

/*=============================================
=                     RWD                   =
=============================================*/

@include rwd(max,1100){
	
	.main{
		.kv{
			padding-top: 160%;
			.block{
				max-width: 90%;
				.title{
					
					h2{
						font-size: 18vw;
						letter-spacing: 1vw;
						padding: 0 0 0 0vw;
					}
					h3{
						margin: 10% auto 18%;
						font-size: 10vw;
					}
				}
				.subTitle{
					font-size: 5.8vw;
					text-align: center;
				}
				.contBox{
					.box{
						width: 33%;
						margin: 0;
						.cont{
							.dec{
								font-size: 2.5vw;
							}
							.icon{
								.fa,.fas{
									font-size: 7vw;
								}
							}
						}
					}
				}
			}
			
		}
		.page {
			.block{
				max-width: 95%;
			}
			.proBox {
				.box {
					.img{
						width: 90%;
					}
					.txt{
						font-size: 4.5vw;
					}
				}
			}
			.otherCont {
				max-width: 95%;
				.box {
					padding: 2% 1.5%;
					.icon{
						width: 100%;
						margin: 4% auto;
					}
					.title{
						width: 100%;
					}
				}
			}
			.belCont{
				.txt{
					p{
						font-size: 4vw;
					}
				}
			}
			.timeCont {
				.txtBox {
					.unLineTxt{
						margin: 1.5%;
					}
				}
			}
			.otherCont {
				.box {
					width: 20%;
					padding: 0 1.5%;
					margin: 2.5%;
					box-shadow: 0px 0px 7px 6px #95FEFF;
					min-height: auto;
					.title{
						font-size: 12px;
					}
				}
			}
			.timeCont {
				.txtBox {
					.spTxt1	{
						p{
							padding: 12px 0;
						}
					} 
				}
			}
		}
		.page1{
			padding: 10% 0 0;
		}
		.page2 {
			padding: 10% 0;
			.block {
				.contBox {
					.txtBox {
						.txt{
							font-size: 5vw;
						}
					}
				}
			}
		}
		.page3{
			padding: 5% 0;
		}

	}
	.float-socialBtn{
		width: 55px;
	}
	.telegramBtn{
		bottom: 12%;
	}
	.goTopBtn{
		bottom: 0;
		display: block;
	}
}

@include rwd(max,768){
	.header{
		height: auto;
		.block{
			p{
				font-size: 26px;
			}
		}
	}
	.main{
		.kv {
			padding-top: 210%;
			.block {
				.title {
					h2{
						font-size: 50px
					}
					h3{
						margin: 25% auto 20%;
						font-size: 38px;
					}
				}
				.subTitle{
					font-size: 38px;
				}
			}
		}
		.page{
			.contBox{
				.title{
					max-width: 90%;
					margin: 0 auto;
				}
				.type{
					ul{
						font-size: 18px;
					}
				}
				
				.txtBox{
					max-width: 90%;
				}
			}
			
			.block{
				max-width: 90%;
				.title{
					max-width: 100%;
				}
				.txtBox{
					max-width: 100%;
				}
				
			}
			.logoBox {
				.logoCont{
					.logo{
						img{
							max-width: 80%;
						}
					}
				}
				.logoCont_Lr{
					width: 33%;
					margin: 1% 0;
				}
				
			}
			.marquee {
				padding: 5px 0;
				.pic-container {
					.pic{
						flex-basis: 100%;
					}
				}
			}
			.belCont {
				.txt {
					p{
						font-size: 16px;
					}
				}
			}
			.proBox{
				.box{
					width: 50%;
					margin: 2.5% 0;
					.txt{
						font-size: 17px;
					}
				}
			}
		}
		.page1{
			padding: 3% 0 0;
		}
		.page2{
			h3{
				font-size: 40px;
				span{
					font-size: 17px;
				}
			}
			.block {
				.contBox {
					.txtBox {
						.txt{
							font-size: 42px;
							&:before{
								line-height: .9;
								left: -2px;
							}
						}
					}
				}
			}
		}
	}
}
@include rwd(max,750){
	.pcShow{
		display: none;
	}
	.mShow{
		display: block;
	}
}
@include rwd(max,414){
	.main{
		.kv{
			padding-top: 230%;
			.block{
				max-width: 85%;
			}
		}
		.dec{
			font-size: 16px;
		}
		.page{
			h2{
				font-size: 32px;
				margin: 0;
			}
			h3{
				font-size: 38px;
			}
			.txt1{
				p{
					line-height: 1.5;
				}
			}
			.foreword{
				.cont{
					float: none;
					width: 100%;
				}
				.icon{
					width: 10%;
					margin: 0 auto 5%;
					display: block;
					float: none;
				}
			}
			
			.contBox{
				.type{
					ul{
						font-size: 16px;
					}
					.tag{
						span{
							font-size: 16px;
						}
					}
				}
				.txtBox{
					max-width: 90%;
				}
			}
			.block{
				max-width: 90%;
				.contBox{
					.txtBox{
						max-width: 100%;
					}
				}
			}
		}
		.page2 {
			.block {
				.contBox {
					.txtBox{
						margin: 10% auto 30%;
					}
				}
			}
		}
	}
	.float-socialBtn {
		width: 40px;
		right: 0%;
	}
	.goTopBtn{
		bottom: 4%;
	}
}

